In [1]:
import pandas as pd
import numpy as np

In [2]:
# Clean raw dengue data
df_dengue = pd.DataFrame()
for year in range(2009, 2018):
    temp = pd.read_csv(f'../data/raw/2009_dengue.csv')
    # drop NaN rows
    temp = temp[temp.iloc[:,0].notna()]
    # remove district row
    temp = temp.iloc[1:]
    # transpose to use districts as columns
    temp = pd.DataFrame(temp.transpose())
    # use 1st row as column headers
    temp.columns = temp.iloc[0]
    temp.columns.name = None
    # remove 1st row
    temp = temp.iloc[1:-1].reset_index(drop=True)
    index = pd.date_range(start=f'1/1/{year}', periods=52, freq='W')
    temp['index'] = index
    temp = temp.set_index('index')
    df_dengue = pd.concat([df_dengue, temp])
df_dengue

,AGDAO,BAGUIO,BUHANGIN,BUNAWAN,CALINAN,DISTRICT A,DISTRICT B,DISTRICT C,DISTRICT D,MARILOG,PAQUIBATO,TALOMO,TALOMO NORTH,TORIL,TUGBOK,TOTAL
index,,,,,,,,,,,,,,,,
2009-01-04,8.0,2.0,16.0,6.0,2.0,6.0,1.0,9.0,0.0,0.0,1.0,12.0,0.0,4.0,0.0,67.0
2009-01-11,4.0,0.0,10.0,7.0,1.0,2.0,2.0,5.0,1.0,1.0,0.0,16.0,0.0,0.0,1.0,50.0
2009-01-18,3.0,0.0,9.0,3.0,3.0,5.0,2.0,2.0,2.0,0.0,0.0,11.0,0.0,3.0,3.0,46.0
2009-01-25,3.0,1.0,22.0,3.0,2.0,8.0,3.0,3.0,3.0,1.0,0.0,15.0,0.0,3.0,0.0,67.0
2009-02-01,8.0,0.0,17.0,6.0,0.0,3.0,5.0,1.0,1.0,0.0,0.0,15.0,0.0,3.0,1.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-26,8.0,0.0,15.0,4.0,0.0,8.0,7.0,7.0,2.0,0.0,0.0,22.0,0.0,5.0,2.0,80.0
2017-12-03,3.0,1.0,26.0,5.0,1.0,3.0,1.0,1.0,1.0,0.0,1.0,24.0,0.0,5.0,4.0,76.0
2017-12-10,5.0,0.0,26.0,9.0,0.0,1.0,3.0,6.0,5.0,1.0,1.0,28.0,0.0,4.0,2.0,91.0
2017-12-17,4.0,0.0,16.0,9.0,2.0,3.0,4.0,1.0,5.0,1.0,5.0,24.0,0.0,4.0,7.0,85.0
2017-12-24,4.0,0.0,9.0,3.0,2.0,3.0,3.0,2.0,3.0,0.0,0.0,13.0,0.0,3.0,1.0,46.0

In [3]:
df_dengue.to_csv('../data/clean/dengue_cases_by_district.csv')